body {
    font-family: Arial, sans-serif;
    line-height:1.6;
    margin: 0;
    padding: 0;
    background-color: #808080;
    color: #333333;
}

header {
    background: #f74343;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px 0 0;

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background: light red;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #FFDB3D;
}

.project {
    margin-bottom: 20px;
}

.project h3 {
    margin: 0 0 10px;
    color: #333333;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #949494
    color: white;
    margin-top: 20px;
}
